# Compiled output
# /dist     ← شيلنا التعليق ده علشان تقدر ترفع أي حاجة من dist
/tmp
/out-tsc
/bazel-out

# Node
# /node_modules   ← شيلنا التعليق ده لو محتاج ترفع ملفات معينة من node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
# /.angular/cache   ← شيلنا التعليق ده علشان ترفع ملفات Angular cache
.sass-cache/
 /connect.lock
 /coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
